$theme-background = #18104b
$theme-darkpurple = #392759
$theme-purple = #b51ccc
$theme-pink = #FF6AD5
$theme-lightpink = #fdb3ff
$theme-yellow = #f2cf67
$theme-matteblue = #316499
$theme-lightblue = #0df2ff
$theme-orange = #e7556a
$theme-red = #9b354b

#tags
    display: none;